<a href="/">Home</a>
<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
 
    <label> Username
      <input type="text" name="username" placeholder="Introduce your username ..." required/>
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="Introduce your password ..." required/>
    </label>
 
    <button type="submit">Create account</button>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>