<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if userInSession}}
    <a href="/celebrities">Go to celebrities</a><span> | </span>
    <a href="/movies">Go to movies</a>
    <form action="/logout" method="post">
        <button type="submit">Log out</button>
    </form>
{{else}}
    <a href="/signup">Sign Up</a><span> | </span>
    <a href="/login">Login</a>
{{/if}}